body{
	background:#121314;
	color:#54e1b9;
	font-weight:bold;
	background-repeat: repeat;
	background-attachment: fixed;
	padding:0;
	margin:0;
}
.hexb{
	color:#eee;
}
.number{
	color:#d07917;
}
.r2code, .tbl, .tbl_dict{
	line-height: 1.1em;
	white-space:pre;
	font-family: Consolas, Menlo, 'Bitstream Vera Sans Mono', monospace, 'Powerline Symbols';
	font-size:12px;
	cursor:arrow;
	font-weight:bold;
}
.tbl th{
	color:white;
	text-align:left;
}
.tbl_dict th{
	color:white;
	text-align:left;
}
.tbl_dict{
	font-size:14px;
}
.comment{
	color:#bccad6;
}
.address, .shorted_address, .from{
	color:#4ebf22;
	}
.address:hover, .from:hover{
	text-decoration:underline;
}
.shorted_address:hover{
	text-decoration:underline;
	background:#ee0;
}
.group{
	color: white;
}
.op_call{
	background: #eedb73;
	color: #000;
}
.op_stack{
	color: #b93994;
}
.op_ip{
	color: #4ebf22;
}
.op_mov{
	color: #fff;
}
.op_add{
	color: #d07917;
}
.op_err{
	color: red;
}
.op_nop{
	color: #6060f0;
}